.mastodon {
    display: inline-block;
    background-image: url("/assets/images/mastodon.png");
    width: 64px;
    height: 64px;
    transform: scale(1) !important;
    margin: 0 !important;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 65em;
    margin: 0 auto;
}

body>* {
    margin: 1em auto !important;
}

header, footer {
    text-align: center;
}

header h1 a, header h1 a:hover, header h1 a:visited {
    text-decoration: none;
    color: white;
}

.center {
    width: 100%;
}

nav, .center {
    text-align: center !important;
}

main {
    max-width: 60em;
}

main>* {
    margin: 1em auto;
}

.panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: flex-start;
}

.panel ul>li {
    margin-bottom: 0.5em;
}

.panel>.nes-balloon.from-left {
    margin-left: 3em;
}

.panel>.nes-balloon.from-right {
    margin-right: 3em;
}

@media only screen and (max-width: 600px) {
    html {
        max-width: 90%;
        margin: 0 auto;
    }

    p,li {
        font-size: 75%;
    }

    main>* {
        margin: 1em 0;
    }

    .panel {
        flex-direction: column;
    }

    .panel>.nes-balloon {
        margin: 1em !important;
    }

    .nes-container {
        padding: 0.75em 1em;
        max-width: 100vw;
    }

    .anim {
        margin-top: 2.5em !important;
    }
}

.page {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

@keyframes slide {
    0%   {transform: translateX(0);}
    50%   {transform: translateX(100vw) rotate(360deg);}
    100%   {transform: translateX(0);}
}

.anim {
    position: absolute;
    left: 0;
    width: 100vw;
    margin-top: 1em;
}

.nav-container .anim {
    margin-top: 32px;
}

.anim img {
    position: absolute;
    max-width: 64px;
    max-height: 64px;
    animation: slide ease-in-out infinite;
    z-index: -1;
    left: -32px;
    top: -32px;
}

.beaver img {
    animation-duration: 14s;
}

@keyframes cloud {
    0%   {transform: translateX(-64px) scale(0.75,1.5);}
    25%   {transform: translateX(25vw) scale(1.5,0.75);}
    50%   {transform: translateX(50vw) scale(0.75,1.5);}
    75%   {transform: translateX(75vw) scale(1.5,0.75);}
    100%   {transform: translateX(100vw) scale(0.75,1.5);}
}

.cloud img {
    animation-duration: 5s;
    animation-name: cloud;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes bunny {
    0% {transform: translate3d(50vw,0,-10em); z-index: -2;}
    25%   {transform: translate3d(50vw,32px,0) rotate3d(1,0,0,90deg); z-index: -2;}
    26%   {transform: translate3d(50vw,32px,0) rotate3d(1,0,0,90deg); z-index: 2;}
    50%   {transform: translate3d(50vw,0,10em) rotate3d(1,0,0,180deg); z-index: 2;}
    75%   {transform: translate3d(50vw,-32px,0) rotate3d(1,0,0,270deg); z-index: 2;}
    76%   {transform: translate3d(50vw,-32px,0) rotate3d(1,0,0,270deg); z-index: -2;}
    99% {transform: translate3d(50vw,0,-10em) rotate3d(1,0,0,360deg); z-index: -2;}
    100% {transform: translate3d(50vw,0,-10em) rotate3d(1,0,0,360deg); z-index: -2;}
}

@keyframes bunny2 {
    0% {left: -50vw;}
    100% {left: 50vw;}
}

.bunny {
    animation: bunny2 10s infinite alternate linear;
}

.bunny img {
    animation-duration: 2s;
    animation-name: bunny;
    animation-timing-function: linear;
    z-index: -2;
}

@keyframes moo {
    0%   {left: -64px; transform: translateX(0);}
    40%   {left: -32px; transform: translateX(50vw) rotate(360deg);}
    50%   {left: -32px; transform: translateX(50vw) rotate(360deg) scale(5);}
    60%   {left: -32px; transform: translateX(50vw) rotate(360deg);}
    100%   {left: 0px; transform: translateX(100vw) rotate(720deg);}
}

.moo img {
    animation-duration: 8s;
    animation-name: moo;
    animation-direction: alternate-reverse;
    z-index: 2;
}

@keyframes hippo {
    0%   {transform: translateX(100vw);}
    50%   {transform: translateX(0) rotate3d(1,0.5,-0.25,360deg);}
    100%   {transform: translateX(100vw);}
}

.hippo img {
    animation-duration: 9s;
    animation-name: hippo;
}